## **Getting started**

### With Google Colab
This is a notebook to explore the Google Colaboratory facilities. Colaboratory, or "Colab" for short, allows you to write and execute Python in your browser. Having a [Google account](https://support.google.com/accounts/answer/27441?hl=en) you should be able to open the notebook **and** to run the python code cells. 

To execute the code in a code cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter". To edit the code, just click the cell and start editing. Watch [Introduction to Colab](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more, or just get started below!

### With Jupyter notebooks 
Alternatively, after downloading and installing the Anaconda distribution, you can open this notebook as a Jupyter notebook and run the code cell. Hereto you go to Anaconda on your machine and then launch Jupyter notebook (alternatively you go to Anaconda > Anaconda Navigator and then you launch Jupyter notebook). Open the read_data_module_1.ipynb notebook and get started.

### Import the Ames housing data set

In [ ]:
import pandas as pd
ames_python = pd.read_csv("https://katrienantonio.github.io/hands-on-machine-learning-R-module-1/data/ames_python.csv")

In [ ]:
ames_python.head

<bound method NDFrame.head of       Unnamed: 0                          MS_SubClass  ...  Longitude   Latitude
0              1  One_Story_1946_and_Newer_All_Styles  ... -93.619754  42.054035
1              2  One_Story_1946_and_Newer_All_Styles  ... -93.619756  42.053014
2              3  One_Story_1946_and_Newer_All_Styles  ... -93.619387  42.052659
3              4  One_Story_1946_and_Newer_All_Styles  ... -93.617320  42.051245
4              5             Two_Story_1946_and_Newer  ... -93.638933  42.060899
...          ...                                  ...  ...        ...        ...
2925        2926                  Split_or_Multilevel  ... -93.604776  41.988964
2926        2927  One_Story_1946_and_Newer_All_Styles  ... -93.602680  41.988314
2927        2928                          Split_Foyer  ... -93.606847  41.986510
2928        2929  One_Story_1946_and_Newer_All_Styles  ... -93.600190  41.990921
2929        2930             Two_Story_1946_and_Newer  ... -93.599996  41.989265

[2930 rows x 82 columns]>

In [ ]:
ames_python.shape

(2930, 82)

### Import the MTPL data set

In [ ]:
import pandas as pd
mtpl_python = pd.read_csv("https://katrienantonio.github.io/hands-on-machine-learning-R-module-1/data/PC_data.txt", delimiter = "\t")

In [ ]:
mtpl_python.head

<bound method NDFrame.head of             ID  NCLAIMS        AMOUNT  ...      TOWN      LONG        LAT
0            1        1   1618.001036  ...   BRUSSEL  4.355223  50.845386
1            2        0      0.000000  ...   BRUSSEL  4.355223  50.845386
2            3        0      0.000000  ...   BRUSSEL  4.355223  50.845386
3            4        0      0.000000  ...   BRUSSEL  4.355223  50.845386
4            5        1    155.974606  ...   BRUSSEL  4.355223  50.845386
...        ...      ...           ...  ...       ...       ...        ...
163226  163227        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163227  163228        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163228  163229        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163229  163230        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163230  163231        2  13818.229594  ...  MALDEGEM  3.421256  51.199975

[163231 rows x 18 columns]>

In [ ]:
mtpl_python_alt = pd.read_csv("https://katrienantonio.github.io/hands-on-machine-learning-R-module-1/data/PC_data.txt", sep = '\t', header = 0)
mtpl_python_alt.head

<bound method NDFrame.head of             ID  NCLAIMS        AMOUNT  ...      TOWN      LONG        LAT
0            1        1   1618.001036  ...   BRUSSEL  4.355223  50.845386
1            2        0      0.000000  ...   BRUSSEL  4.355223  50.845386
2            3        0      0.000000  ...   BRUSSEL  4.355223  50.845386
3            4        0      0.000000  ...   BRUSSEL  4.355223  50.845386
4            5        1    155.974606  ...   BRUSSEL  4.355223  50.845386
...        ...      ...           ...  ...       ...       ...        ...
163226  163227        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163227  163228        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163228  163229        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163229  163230        0      0.000000  ...  MALDEGEM  3.421256  51.199975
163230  163231        2  13818.229594  ...  MALDEGEM  3.421256  51.199975

[163231 rows x 18 columns]>

In [ ]:
mtpl_python.columns

Index(['ID', 'NCLAIMS', 'AMOUNT', 'AVG', 'EXP', 'COVERAGE', 'FUEL', 'USE',
       'FLEET', 'SEX', 'AGEPH', 'BM', 'AGEC', 'POWER', 'PC', 'TOWN', 'LONG',
       'LAT'],
      dtype='object')

In [ ]:
mtpl_python.shape

(163231, 18)

In [ ]:
mtpl_python_alt.columns

Index(['ID', 'NCLAIMS', 'AMOUNT', 'AVG', 'EXP', 'COVERAGE', 'FUEL', 'USE',
       'FLEET', 'SEX', 'AGEPH', 'BM', 'AGEC', 'POWER', 'PC', 'TOWN', 'LONG',
       'LAT'],
      dtype='object')

In [ ]:
mtpl_python_alt.shape

(163231, 18)